body{
    background-color:rgb(255, 214, 241);
}
p{
    color:black;
    text-align:left;
    font-size:11pt;
}

.img-diwali {
    width: 150px;
    height: 180px;
    position: left
    
}

table{
    border:s2px solid rgb(0, 0, 0);
    width: auto;
    font-style: normal;
    margin: auto;
    width:50%

}
table, th, td {
    border: 1px solid black;
    width: auto;
    font-style: oblique;
  }

  h1{
    text-align:center;
  }
  